div.page__content
	form#form.scientist-modify(redirect='/scientists', action='/api/scientists')
		fieldset.fieldset
			legend.fieldset__header Общие сведения
			div.row.fieldset__block
				div.col.col_size_lg_num_8
					div.row.middle
						label.action.col-lg-4(for='first_name') Имя
						input#first_name.col-lg-8(type='text', name='first_name', value='#{first_name}')
					div.row.middle
						label.action.col-lg-4(for='last_name') Фамилия
						input#last_name.col-lg-8(type='text', name='last_name', value='#{last_name }')
					div.row.middle
						label.action.col-lg-4(for='middlename') Отчество
						input#middlename.col-lg-8(type='text', name='middle_name', value='#{middle_name}')
					div.row.middle
						label.col-lg-4 Пол
						.col-lg-2
							.row-flex.middle.between
								label(for='male') М
								input#male(type='radio', value='m', name='gender', checked="{{ gender === 'm' ? 'checked' : '' }}")
								label(for='female') Ж
								input#female(type='radio', value='f', name='gender', checked="{{ gender === 'f' ? 'checked' : '' }}")
					div.row.middle
						label.col-lg-4(for='dateOfBirth') Дата рождения
						input#dateOfBirth(type='text', value='#{dob}', name='dob')
					div.row.middle
						label.col-lg-4(for='placeOfLiving') Место проживания
						div.col-lg-8
							.row.between
								input#placeOfLiving(type='text', value='#{location.country}', name='location[country]', placeholder='Страна')
								input(type='text', value='#{location.city}', name='location[city]', placeholder='Город')
				.col-lg-4
					input-photo#photo(size='{"width": 250, "height": 250}', imageuri='#{image_url}')
		fieldset.fieldset
			legend Сведения об образовании
			.fieldblock
				fieldset
					legend Среднее образование
					.fieldblock
						.row-flex.middle
							label.col-lg-2.action(for='middle_education_country') Страна
							input#middle_education_country.col-lg-10(type='text', value='{{ middle_education.country }}', data-json='middle_education[country]')
						.row-flex.middle
							label.col-lg-2(for='middle_education_city') Город
							input#middle_education_city.col-lg-10(type='text', value='{{ middle_education.city }}', data-json='middle_education[city]')
						.row-flex.middle
							label.col-lg-2(for='middle_education_school') Школа
							input#middle_education_school.col-lg-10(type='text', value='{{ middle_education.school }}', data-json='middle_education[school]')
						.row-flex.middle
							label.action.col-lg-2(for='middle_education_graduation_year') Год выпуска
							input#middle_education_graduation_year.col-lg-2(type='text', value='{{ middle_education.graduation_year }}', data-json='middle_education[graduation_year]')
				fieldset
					legend
						span Высшее образование
						img.action.icon(on-click='{{ addItem }}', data-itemtype='high_education', src='/static/images/plus.svg', alt='')
					template(repeat='{{ high_education }}')
						.fieldblock
							.row-flex.middle
								label.col-lg-2.action Страна
								input.col-lg-10(type='text', value='{{ country }}', data-json='high_education[][country]')
							.row-flex.middle
								label.col-lg-2.action Город
								input.col-lg-10(type='text', value='{{ city }}', data-json='high_education[][city]')
							.row-flex.middle
								label.col-lg-2.action Университет
								input.col-lg-10(type='text', value='{{ university }}', data-json='high_education[][university]')
							.row-flex.middle
								label.col-lg-2.action Факультет
								input.col-lg-10(type='text', value='{{ faculty }}', data-json='high_education[][faculty]')
							.row-flex.middle
								label.col-lg-2.action Кафедра
								input.col-lg-10(type='text', value='{{ chair }}', data-json='high_education[][chair]')
							.row-flex.middle
								label.col-lg-2.action(for='high_education_degree') Степень
								input#high_education_degree.col-lg-10(type='text', value='{{ degree }}', data-json='high_education[][degree]')
							.row-flex.middle
								label.action.col-lg-2(for='high_education_graduation_year') Год выпуска
								input#high_education_graduation_year.col-lg-2(type='number', value='{{ graduation_year }}', data-json='high_education[][graduation_year]')
							img.deleteItem.icon.action(data-itemtype='high_education', on-click='{{ deleteItem }}', src='/static/images/minus.svg', alt='')
		fieldset
			legend Научная деятельность
			.fieldblock
				fieldset
					legend
						span Публикации
						img.action.icon(on-click='{{ addItem }}', data-itemtype='publications', src='/static/images/plus.svg', alt='')
					template(repeat='{{ publications }}')
						.fieldblock
							.row-flex.middle
								label.action.col-lg-3(for='publicationName') Название
								input.col-lg-8(type='text', data-json='publications[][title]', value='{{ title }}')
							.row-flex.middle
								label.action.col-lg-3(for='publishingHouse') Издательство
								input.col-lg-8(type='text', data-json='publications[][source]', value='{{ source }}')
							.row-flex.middle
								label.action.col-lg-3(for='publicationYear') Год издания
								input.col-lg-8(type='text', data-json='publications[][year]', value='{{ year }}')
							.row-flex.middle
								label.col-lg-3.action(for='publicationLink') Ссылка
								input.col-lg-8(type='url', data-json='publications[][link]', value='{{ link }}')
							img.deleteItem.icon.action(data-itemtype='publications', on-click='{{ deleteItem }}', src='/static/images/minus.svg', alt='')
				fieldset
					legend О себе
					.fieldblock.row-flex
						textarea#about.col-lg-12(data-json='about', value='{{ about }}')
				fieldset
					legend Сфера научных интересов
					.fieldblock
						input-tags#science_interests.col-lg-12(data-json='interests[]', value='{{ interests }}')
		fieldset
			legend
				span Контакты
				img.action.icon(on-click='{{ addItem }}', data-itemtype='contacts', src='/static/images/plus.svg', alt='')
			.fieldblock
				.col-lg-8
					template(repeat='{{ contacts }}')
						.row-flex.middle.between
							label.action Тип
							input(type='text', data-json='contacts[][connection]', value='{{ connection }}')
							label.action Номер
							input(type='text', data-json='contacts[][number]', value='{{ number }}')
							img.action.icon(on-click='{{ deleteItem }}', data-itemtype='contacts', src='/static/images/minus.svg', alt='')
	template(if="{{ viewType === 'create' }}")
		fieldset
			.row-flex.fieldblock
				.col-lg-9
					.row-flex.middle
						label.col-lg-3(for='email') Email
						input#email.col-lg-5(type='email', data-json='email', required='')
					.row-flex.middle
						label.col-lg-3(for='pwd') Пароль
						input#pwd.col-lg-5(type='password', data-json='pwd', required='')
	template(if="{{ viewType === 'update' }}")
		input(type='hidden', value='{{ data.id }}', data-json='scientist_id')
	.row-flex.center
		button.button.submit(type='submit') {{ viewType === 'create' ? 'Вступаю' : 'Сохранить' }}
